[submodule "macallan-function"]
	path = macallan-function
	url = git@github.com:halay08/macallan-function.git
[submodule "macallan-frontend"]
	path = macallan-frontend
	url = git@github.com:halay08/macallan-frontend.git
[submodule "macallan-admin"]
	path = macallan-admin
	url = git@github.com:halay08/macallan-admin.git
